<html>
<head>
</head>
<body>
<a id="link1" href="/index">Click here to go to login page</a>
<a id="link2" href="/profile">Click here to go to profile page</a>
<h1 id="logout" style="margin-top: 8em">
You've Been Logged Out<br>
<a id="loglink" href="/index">Click here to login</a>
</h1>

<script>
document.getElementById("logout").style.color = "red";
document.getElementById("link1").style.color = "white";
document.getElementById("link2").style.color = "white";
document.getElementById("logout").style.textAlign= "center";
document.getElementById("loglink").style.fontSize = "medium";
</script>
</body>
</html>
